.stock{
    margin-bottom: 10px;

}

.stock p{
    display: inline;
    margin: 15px;
}
.input-form{
    margin: 3px;
    padding: 5px;
    display: inline-block;
}

.form-edit-product{
    margin: 10px;
}

.submit-edit{
    border-radius: 0px 0px 10px 10px;
    margin-top: 10px;
}

.submit-edit:hover{
    background-color: #e8ec0e;
    color: black;
    border: 1px solid #000000;
}